@font-face {
    font-family: 'itc-avant-garde-gothic-pro';
    src: url('../fonts/itc-avant-garde-gothic-pro-bold-webfont.woff2') format('woff2'),
         url('../fonts/itc-avant-garde-gothic-pro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir-light-webfont.woff2') format('woff2'),
         url('../fonts/avenir-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir-regular-webfont.woff2') format('woff2'),
         url('../fonts/avenir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir-black-webfont.woff2') format('woff2'),
         url('../fonts/avenir-black-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}